<%= stylesheet_link_tag 'rooms.show', :media => "all" %>

<div class ="header">
  <div class="room">
  <h1><%= "ルーム名：#{@room.name}" %></h1>
  </div>
  <div class ="foot">
    <div class="navigation">
    <!-- 階層に分けてナビゲーションの骨組みを作成 -->
      <ul>
        <li class="button">
          <p><a href="#"><%= link_to "新規投稿へ", new_post_path %></a></p>
        </li>
        <li class="button">
          <p><a href="#"><%= link_to "投稿一覧に戻る", posts_path %></a></p>
        </li>
        <li class="button">
          <p><a href="#"><%= link_to "チャットルーム", rooms_path %></a></p>
        </li>
        <li class="button">
          <p><a href="#"><%= link_to 'マイページ',  "/users/#{current_user.id}" %></a></p>
        </li>
        <li class="button">
          <p><a href="#"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></a></p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class ="main">
  <div class ="content">
    <div class="posts">
      <% @posts.each do |post| %>
        <div class = "chatbox">
          <p><%= post.user.name %>さん</p>
          <p>><%= post.message %></p>
        </div>
      <% end %>
    </div>
    <div class ="post_content">
      <%= form_for [@room, @chat] do |f| %>
        <div class="field">
          <%= f.text_field :message, :size => 140 %>
          <%= f.submit "送信する" %>
          <%= link_to 'フォロワーをルームに招待する', inviting_room_path(room_id:params[:room_id], user_id:current_user.id) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

