<%= stylesheet_link_tag 'edit', :media => "all" %>

<div class = "head">
  <h1>投稿編集</h1>
</div>
<div class = "main_content">
  <%= form_for @post do |f| %>
      <%= f.label :内容 %>
      <%= f.text_field :body, :size => 140  %> 
      <%= f.submit "編集する" %>
  <% end %>
</div>
<footer>
  <div class ="foot">
    <div class="navigation">
    <!-- 階層に分けてナビゲーションの骨組みを作成 -->
      <ul>
        <li class="button">
          <p><a href="#"><%= link_to "新規投稿へ", new_post_path %></a></p>
        </li>
        <li class="button">
          <p><a href="#"><%= link_to "投稿一覧に戻る", posts_path %></a></p>
        </li>
        <li class="button">
          <p><a href="#"><%= link_to "チャットルーム", rooms_path %></a></p>
        </li>
      
        <li class="button">
          <p><a href="#"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></a></p>
        </li>
        
      </ul>
    </div>
  </div>
</footer>
